<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoList</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="bg-light min-vh-100" id="app">
      <form class="p-3 input-group">
        <span class="input-group-text">代辦事項</span>
        <input class="form-control" type="text" v-model="newItem" />
        <button class="btn btn-secondary" @click="addToList">新增</button>
      </form>
      <!-- 標籤頁 -->
      <nav class="m-3">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              href="#"
              @click="showChecked = null"
              data-bs-toggle="tab"
              role="tab"
              >全部</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              href="#"
              @click="showChecked = false"
              data-bs-toggle="tab"
              role="tab"
              >未完成</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              @click="showChecked = true"
              data-bs-toggle="tab"
              role="tab"
              >已完成</a
            >
          </li>
          <li class="nav-item">
            <a class="btn text-primary" href="#" @click="clearAll"
              >清除所有任務</a
            >
          </li>
        </ul>
      </nav>
      <!-- 代辦事項列表 -->
      <div class="m-3 pb-5">
        <ul
          class="list-group list-group-flush"
          v-for="(l,index) in sortList"
          :key="index"
        >
          <li
            class="
              d-flex
              justify-content-between
              align-items-center
              list-group-item list-group-flush
              form-check
            "
          >
            <div class="px-3">
              <input
                class="form-check-input"
                type="checkbox"
                name=""
                :id="index"
                v-model="l.check"
              />
              <label
                class="form-check-label"
                :for="index"
                v-if="index !== editIndex"
                @dblclick="this.editIndex = index"
                >{{l.item}}</label
              >
            </div>
            <!-- 雙擊出現編輯窗格 -->
            <input
              class="form-control m-1"
              v-show="index === editIndex"
              type="text"
              v-model.lazy="l.item"
              @keyup.enter=" editIndex = null"
            />
            <button class="btn btn-outline-danger" @click="removeList(index)">
              X
            </button>
          </li>
        </ul>
      </div>
      <!-- 代辦事項列表 -->
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            newItem: "",
            listArr: [],
            showChecked: null,
            editIndex: null,
          };
        },
        methods: {
          removeList(i) {
            this.listArr.splice(i, 1);
          },
          addToList() {
            if (this.newItem === "") {
              alert("請輸入代辦事項");
            } else {
              this.listArr.push({ check: "", item: this.newItem });
              this.showChecked = null;
              this.newItem = "";
            }
          },
          clearAll() {
            this.listArr = [];
          },
        },
        computed: {
          sortList() {
            if (this.showChecked === true) {
              return this.listArr.filter((l) => l.check === true);
            } else if (this.showChecked === false) {
              return this.listArr.filter((l) => l.check !== true);
            } else {
              return this.listArr;
            }
          },
        },
        watch: {
          listArr: {
            handler() {
              localStorage.setItem("todoList", JSON.stringify(this.listArr));
            },
            deep: true,
          },
        },
        mounted() {
          let todoList = localStorage.getItem("todoList");
          if (todoList) {
            this.listArr = JSON.parse(todoList);
          }
        },
      });
      app.mount("#app");
    </script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
