<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoList</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <div id="app">
      <form class="formContainer">
        <p class="title">代辦事項</p>
        <input type="text" v-model="newItem" />
        <button @click="addToList">新增</button>
      </form>
      <!-- 標籤頁 -->
      <nav>
        <ul class="navbar">
          <li><a href="#" @click="showChecked = null">全部</a></li>
          <li><a href="#" @click="showChecked = false">未完成</a></li>
          <li><a href="#" @click="showChecked = true">已完成</a></li>
          <li><a href="#" @click="clearAll">清除所有任務</a></li>
        </ul>
      </nav>
      <!-- 代辦事項列表 -->
      <div class="listContainer">
        <ul v-for="(l,index) in sortList" :key="index">
          <li>
            <input
              class="checkbox"
              type="checkbox"
              name=""
              :id="index"
              v-model="l.check"
            />
            <label
              class="input"
              :for="index"
              v-if="index !== editIndex"
              @dblclick="sthis.editIndex = index"
              >{{l.item}}</label
            >
            <!-- 雙擊出現編輯窗格 -->
            <input
              class="input"
              v-show="index === editIndex"
              type="text"
              v-model.lazy="l.item"
              @keyup.enter=" editIndex = null"
            />
            <button @click="removeList(index)">X</button>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            newItem: "",
            listArr: [],
            showChecked: null,
            editIndex: null,
          };
        },
        methods: {
          removeList(i) {
            this.listArr.splice(i, 1);
          },
          addToList() {
            if (this.newItem === "") {
              alert("請輸入代辦事項");
            } else {
              this.listArr.push({ check: "", item: this.newItem });
              this.showChecked = null;
              this.newItem = "";
            }
          },
          clearAll() {
            this.listArr = [];
          },
        },
        computed: {
          sortList() {
            if (this.showChecked === true) {
              return this.listArr.filter((l) => l.check === true);
            } else if (this.showChecked === false) {
              return this.listArr.filter((l) => l.check === !true);
            } else {
              return this.listArr;
            }
          },
        },
        watch: {
          listArr: {
            handler() {
              localStorage.setItem("todoList", JSON.stringify(this.listArr));
            },
            deep: true,
          },
        },
        mounted() {
          let todoList = localStorage.getItem("todoList");
          if (todoList) {
            this.listArr = JSON.parse(todoList);
          }
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
